<!DOCTYPE html>
<html lang = "en-US">
 <head>
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width,initial-scale=1">
     <title>ADD</title>
     <link
       rel="stylesheet"
       href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
     <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
     <link rel = "stylesheet" type = "text/css" href = "css/styles.css" />
 </head>
 <body>
    <div class="container-fluid" id="add_page">
        <div class="row">
            <div class="col-md-6 col-sm-12" id="left_container">
                <form id="input_form" action="/api/create" method="POST" autocomplete="off">
                    <div class="myRow">
                        <div class="input_group">
                            <input type="text" id="expense_input" name="Expense" required>
                            <label for="expense_input" class="myLabel">Expense</label>
                        </div>
                        <span></span>
                    </div>
                    <div class="myRow">
                        <input type="hidden" id="category_input" name="Category" required>
                        <div class="category">
                            <button>
                                <img class="img-responsive" src="img/food.png">
                                <p>Food</p>
                            </button>
                        </div>
                        <div class="category">
                            <button>
                                <img class="img-responsive" src="img/drink.png">
                                <p>Drink</p>
                            </button>
                        </div>
                        <div class="category">
                            <button>
                                <img class="img-responsive" src="img/transport.png">
                                <p>Transport</p>
                            </button>
                        </div>
                        <div class="category">
                            <button>
                                <img class="img-responsive" src="img/shopping.png">
                                <p>Shopping</p>
                            </button>
                        </div>
                        <div class="category">
                            <button>
                                <img class="img-responsive" src="img/entertainment.png">
                                <p>Entertainment</p>
                            </button>
                        </div>
                        <div class="category">
                            <button>
                                <img class="img-responsive" src="img/housing.png">
                                <p>Housing</p>
                            </button>
                        </div>
                        <div class="category">
                            <button>
                                <img class="img-responsive" src="img/digital.png">
                                <p>Digital</p>
                            </button>
                        </div>
                        <div class="category">
                            <button>
                                <img class="img-responsive" src="img/income.png">
                                <p>Income</p>
                            </button>
                        </div>
                        <div class="category">
                            <button>
                                <img class="img-responsive" src="img/medical.png">
                                <p>Medical</p>
                            </button>
                        </div>
                        <div class="category">
                            <button>
                                <img class="img-responsive" src="img/others.png">
                                <p>Others</p>
                            </button>
                        </div>
                    </div>
                    <div class="myRow">
                        <div class="input_group">
                            <input type="text" id="name_input" name="Item" required>
                            <label for="name_input" class="myLabel">Name</label>
                        </div>
                        <span></span>
                    </div>
                    <div class="myRow">
                        <div class="input_group">
                            <input type="text" id="quantity_input" name="Quantity" required>
                            <label for="quantity_input" class="myLabel">Quantity</label>
                        </div>
                        <span></span>
                    </div>
                    <div id="btn_container">
                    <input type="submit" value="Submit">
                    </div>
                </form>
            </div>
            <div class="col-sm-6 col-xs-12" id="right_container"></div>
        </div>
    </div>
</body>
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script type="text/javascript">
        $("#input_form").validate({
            onkeyup: false,
            onclick: false,
            onfocusout: false,

            rules: {
                Expense: {
                  required: true,
                  number: true
                },
                Category: "required",
                Item: "required",
                Quantity: {
                    required:true,
                    number:true
                }
            },

            messages: {
                Expense: {
                    required: '',
                    number:''
                },
                Item: {
                    required: ''
                },
                Quantity: {
                    required: '',
                    number:''
                }
            }
        });

        $("input_form").click(function(){
            return false;
        })
    </script>
</html>