<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Analytics</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,300|Open+Sans:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <link rel = "stylesheet" type = "text/css" href = "css/analytics.css" />
</head>
<body>
    <div class="container">
        <nav class="navbar fixed-top">
            <h1>Analytics</h1>
            <div id="nav_btn_container">
                <input type="button" value="+New Record" onclick="location.href='add'">
                <input type="button" value="Comparison" onclick="location.href='compare'">
            </div>
        </nav>
        <div class="row">
            <div class="col-12">
                <ul class="nav" id="year">
                    <li class="nav-item">2016</li>
                    <li class="nav-item active">2017</li>
                </ul>
            </div>
            <div class="col-12">
                <ul class="nav" id="month">
                    <li class="nav-item active">All</li>
                    <li class="nav-item">Jan</li>
                    <li class="nav-item">Feb</li>
                    <li class="nav-item">Mar</li>
                    <li class="nav-item">Apr</li>
                    <li class="nav-item">May</li>
                    <li class="nav-item">Jun</li>
                    <li class="nav-item">Jul</li>
                    <li class="nav-item">Aug</li>
                    <li class="nav-item">Sep</li>
                    <li class="nav-item">Oct</li>
                    <li class="nav-item">Nov</li>
                    <li class="nav-item">Dec</li>
                </ul>
            </div>
            <div class="col-12"><div id="bar_chart"></div></div>
        </div>
        <div class="row" id="category_charts">
            <div class="col-12 col-sm-4" id="table_holder"><div id="table"></div></div>
            <div class="col-12 col-sm-8" id="pie_chart"><canvas></canvas></div>
        </div>
        <div class="modal" id="categoryDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header"><h4></h4></div>
                    <div class="modal-body">
<!--                     <div class="time">
                        <h5>- Jun 01, 2017 -</h5>
                    </div>
                    <div class="item">
                        <div class="name">Dinner</div>
                        <div class="expense">$8.69</div>
                        <div class="btns">
                            <a href="item/edit/59b048ed83695f0011c3a6a4" class="first"><i class="material-icons">mode_edit</i></a>
                            <a onclick="deleteItem(event)"><i class="material-icons">delete</i></a>
                        </div>
                    </div> -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
<script type="text/javascript" src="js/analytics.js"></script>
</body>
</html>