<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="css/home.css" type="text/css">
</head>
<body>
    <div class="container-fluid">
        <div class="row" id="graphic_container">
            <div class="col-6" id="newyork">
                <img class="img-fluid graphic background" src="img/ny_background.png">
                <img class="img-fluid graphic buildings" src="img/ny_buildings.png">
                <img class="img-fluid other" src="img/ny_car.png">
                <img class="img-fluid title" src="img/newyork.png">
            </div>
            <div class="col-6" id="suzhou">
                <img class="img-fluid graphic background" src="img/sz_background.png">
                <img class="img-fluid graphic buildings" src="img/sz_buildings.png">
                <img class="img-fluid other" src="img/sz_boat.png">
                <img class="img-fluid title" src="img/suzhou.png">
            </div>
        </div>
        <div class="row" id="btn_container">
            <div class="col-12">
                <input type="button" value="hhhh">
            </div>
            <div class="col-6"></div>
            <div class="col-6"></div>
        </div>
    </div>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="js/home.js"></script>
</body>
</html>