* {
    font-family: 'Alegreya Sans SC', sans-serif;
    /*font-family: 'Open Sans', sans-serif;*/

    -webkit-transition:.5s ease;
    transition: .5s ease;
}

body {
    background-image: url("background.png");
    height: 150vh;
}

nav {
    height: 50px;
    background-color: rgba(255,255,255,.2);
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    padding-top:0px !important;
    padding-bottom:0px !important;

}

nav h1 {
    font-size: 36px;
    font-weight:300;
    color: rgba(255,255,255,.8);
}

#nav_btn_container {
    justify-content: flex-end !important;
}

nav input {
    border:none;
    outline: none;
    height: 50px;
    background-color: rgba(255,255,255,.2);
    color:rgba(255,255,255,.5);
    font-size: 24px;
    font-weight: 100;
    padding-left: 10px;
    padding-right: 10px;
}

nav input:hover {
    background-color: rgb(255,255,255);
    color:rgba(0,0,0,.5);
}

.container:first-child .row {
    padding-top: 100px;
}

ul li{
    font-family: 'Cinzel', serif;
    color: #Fff;
    opacity: .3;
    cursor: pointer;
    border-bottom:1px solid rgba(255,255,255,0);
}

#year li {
    font-size: 40px;
    line-height: 40px;
    margin-right: 25px;
}

#month li {
    font-size: 20px;
    margin-right: 15px;
    margin-top: 10px;
}

ul li:hover {
    opacity: 1;
    border-bottom:1px solid;
    text-shadow: 0 0 8px rgba(255,255,255,.5);
}


ul li.active {
    opacity: 1;
    border-bottom:1px solid rgba(255,255,255,1);
}

#bar_chart {
    padding-top: 30px;
}

#bar_chart text.expense {
    opacity:.5;
    fill:#000;
    font-size:16px;
    font-family: 'Open Sans', sans-serif;

}

#bar_chart text.hidden {
    opacity:0;
    fill:#000;
    font-size:16px;
    font-family: 'Open Sans', sans-serif;
}

#bar_chart text.label {
    fill:#fff;
    opacity: 0.5;
    font-size:20px;
}


