* {
    font-family: 'Alegreya Sans SC', sans-serif;
    /*font-family: 'Open Sans', sans-serif;*/

    -webkit-transition:.5s ease;
    transition: .5s ease;
}

body {
    background-image: url("background.png");
    background-size: cover;
    height: 150vh;
    padding-right: 0px !important
}

.modal-open {
  overflow-y: hidden;
  width: calc(100% - 17px); /*//for chrome/safari*/
width: -moz-calc(100% - 15px); /*//for firefox*/
}

nav {
    height: 50px;
    background-color: rgba(255,255,255,.2);
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    padding-top:0px !important;
    padding-bottom:0px !important;

}

nav h1 {
    font-size: 36px;
    font-weight:300;
    color: rgba(255,255,255,.8);
}

#nav_btn_container {
    justify-content: flex-end !important;
}

nav input {
    border:none;
    outline: none;
    height: 50px;
    background-color: rgba(255,255,255,.2);
    color:rgba(255,255,255,.5);
    font-size: 24px;
    font-weight: 100;
    padding-left: 10px;
    padding-right: 10px;
}

nav input:hover {
    background-color: rgb(255,255,255);
    color:rgba(0,0,0,.5);
}

.container:first-child .row {
    padding-top: 100px;
}

ul#month li,
ul#year li{
    font-family: 'Cinzel', serif;
    color: #Fff;
    opacity: .3;
    cursor: pointer;
    border-bottom:1px solid rgba(255,255,255,0);
}

ul#year li {
    font-size: 40px;
    line-height: 40px;
    margin-right: 25px;
}

ul#month li {
    font-size: 20px;
    margin-right: 15px;
    margin-top: 10px;
}

ul#month li:hover,
ul#year li:hover {
    opacity: 1;
    border-bottom:1px solid;
    text-shadow: 0 0 8px rgba(255,255,255,.5);
}


ul#month li.active,
ul#year li.active {
    opacity: 1;
    border-bottom:1px solid rgba(255,255,255,1);
}

#bar_chart {
    padding-top: 30px;
}

/*expense number*/
#bar_chart text.expense {
    opacity:.5;
    fill:#000;
    font-size:14px;
    font-family: 'Open Sans', sans-serif;
}

#bar_chart text.expense_hidden {
    opacity:0;
    fill:#000;
    font-size:14px;
    font-family: 'Open Sans', sans-serif;
}

/*label*/
#bar_chart text.label {
    fill:rgba(255,255,255,.3);
    font-size:20px;
}

#bar_chart text.label_active {
    fill:rgba(0,0,0,.5);
    font-size:20px;
}

/*table*/
#table rect{
    cursor: pointer;
}
#table text{
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    cursor: pointer;
}
#table text.label {
    fill:rgba(255,255,255,.8);
    font-size:20px;
}
#table text.label_active {
    fill:rgba(0,0,0,.5);
    font-size:20px;
}
#table text.expense {
    fill:rgba(255,255,255,.8);
    font-size:20px;
}
#table text.expense_active {
    fill:rgba(0,0,0,.5);
    font-size:20px;
}

/*pie chart*/
#pie_chart canvas{
    background-color: rgba(255,255,255,.5);
}

/*-----modal----------------------------*/
#categoryDetail {
    padding: 0 !important;
}

div.modal-backdrop {
    background-color: rgba(0,0,0,.5);
}

.modal-dialog {
    margin:0 0 0 auto;
}

#categoryDetail .modal-content {
    position: fixed;
    right: -25%;  /*trasition*/
    opacity: 0.5;  /*trasition*/
    border: none;
    border-radius: 0;
    background-color: rgba(255,255,255,.9);

        -webkit-transition: - .5s ease;
    transition: .5s ease;
}

#categoryDetail .modal-header {
    height: 55px;
}

#categoryDetail .modal-header h4{
    margin-bottom: 0;
}

#categoryDetail .time {
    padding-top: 10px;
    text-align: center;
}

#categoryDetail .item {
    background-color: #fff;
    margin: 1px;
    padding:0;
    height: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#categoryDetail .item .name {
    flex-grow:7;
    margin-left: 15px;
    font-size: 22px;
}

#categoryDetail .item .expense {
    margin-right: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

#categoryDetail .item div.btns {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: purple;
    display: flex;
    align-items: center;
}

#categoryDetail .item .btns a {
    border:none;
    outline: none;
    padding: 0;
    margin: 0;
    height: 100%;
    color:#fff;
    opacity: 0.8;

    display: flex;
    align-items: center;
}

#categoryDetail .item .btns a:hover {
    opacity: 1;
    text-decoration: none;
}

#categoryDetail .item .btns .first{
    border-right: 2px solid #fff;
}

#categoryDetail  .modal-footer button{
    border:none;
}
#categoryDetail  .modal-footer button:hover{
    opacity: 0.5
}
#categoryDetail  .modal-footer button:focus{
    outline:none;
}

/*Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap
#categoryDetail .modal-content {
    width: 100%;
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    #category_charts {
        padding: 0;
        height: 660px;
    }

    #table {
        padding-right: 0;
    }

    #pie_chart {
        padding-left: 1px;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    #categoryDetail .modal-content {
        width: 50vw;
    }

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

