* {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#add_page {
    height: 100vh;
    width:100vw;
    overflow: hidden;
}

.row {
    height: 100%;
}

#left_container {
    background-color: #FBEFE1;
    height: 100%;
    padding: 20px;
}

#right_container {
    background-color: #F6E7D5;
    height: 100%;
}

.myRow {
    overflow: hidden;
    padding-top:2vh;
}

#btn_container{
    padding-top: 4vh;
}

#btn_container input{
    display: block;
    width: 250px;
    margin: auto;
    background-color: #FF634E;
    color:#fff;
    font-size: 20px;
    border: none;
    box-shadow: 0 2px 8px 0 #FF634E;
}

#btn_container input:hover {
    box-shadow: 0 1px 4px 0 #FF634E;
}

input:focus {
  outline: none;
}

/* input ****************************** */

.input_group {
    width: 100%;
    height: 10vh;
}

.input_group input{
    width: 100%;
    background:none;
    border: none;
    border-bottom: 1px solid #5F7FA8;
    height: 8vh;

    -webkit-transition:.5s ease;
    transition: .5s ease;
}

.input_group label {
    position: relative;
    top:-35px;
    margin: auto;
    font-size: 24px;
    color:#5F7FA8;

    -webkit-transition:.5s ease;
    transition: .5s ease;
}

.input_group input:focus ~ label.myLabel,
.input_group input:valid ~ label.myLabel {
    position: relative;
    top:-55px;
    font-size: 16px;
}

.input_group + span {
    display: block;
    width: 0px;
    height: 0.5vh;
    position: relative;
    top: -2.5vh;
    background-color: #5F7FA8;
    -webkit-transition:.5s ease;
    transition: .5s ease;
}

.input_group + span.input_highlight {
    width: 100%;
}

.img-responsive {
    width: 100%;
    height: auto;
}

/*.input_group label.error {
    position: absolute;
    top:100px;
    color: red;
}*/

 /*-------------5 columns category-------------*/
.category {
    width: 20%;
    padding:10px;
    float: left;
    text-align: center;

    -webkit-transition:.5s ease;
    transition: .5s ease;
}

.category.selected {
    background-color:#F6E7D5;
}

.category p {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 13px;
}

.category button {
    background:none;
    outline:none;
    border: none;
    padding: 0;
    margin: 0;
}